.comment-wrapper {
  height: 300px;
  overflow-y: scroll;
  padding-top: 12px;
  padding-left: 10px;

  .message-inner {
    background: #fff;
    min-height: 30px;
    width: 500px;
    border-radius: 1px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 3px 7px 1px #dedbdb;

    span {
      font-weight: 600;
      font-size: 15px;
    }
    p {
      color: rgb(88, 113, 167);
      font-size: 14px;
      word-break: break-all;
      margin-top: 12px;
    }
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
