@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

$gray: #faebee !important;
$light-blue: #9cd5f8 !important;
$black: #0c090e !important;
$font-gray: #ada6ad !important;
$red: #be342e !important;
$dark-gray: #4f4c56 !important;
$main-font: "Poppins", "sans-serif";
$sub-font: "Oswald", "sans-serif";
